.merah{
    color: red;
    text-align: center;
}

.hijau {
    color: green;
    text-align: center;

}

.violet {
    color: violet;
    text-align: center;

}

.birumuda {
    color: dodgerblue;
    text-align: center;

}

.ungu {
    color: black;
    text-align: center;


}
.gambar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}